/* Root variables */
:root {
  --black: #000;
  --white: #ffff;
  --tan: #faedbc;
  --grey: #827777;
}

/* page and body */
* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

html,
body {
  font-size: 10px;
  font-family: tahoma;
}

/* header style */
header {
  border-top: 3px solid var(--grey);
  border-right: 3px solid var(--grey);
  border-left: 3px solid var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 1.3rem;
  color: var(--white);
  background-color: var(--tan);
  font-weight: lighter;
  height: 3rem;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

header h1 {
  padding-left: 10px;
}

header nav {
  background-color: var(--grey);
  width: 100%;
  height: 3rem;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
  align-content: flex-end;
  padding-left: 10px;
  padding-top: 3px;
  min-width: 400px;
}

.navLinks {
  text-decoration: none;
  color: var(--white);
  font-size: 2rem;
  width: 270px;
}

/* main style */
main {
  border-right: 3px solid var(--grey);
  border-left: 3px solid var(--grey);
  border-bottom: 3px solid var(--grey);
  padding-top: 30px;
}

/*                About me */
#aboutMeHeader {
  text-align: center;
  font-size: 2.3rem;
  padding: 7px;
  background-color: var(--tan);
  margin-left: 30px;
  margin-right: 30px;
}

#aboutMe {
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--tan);
  margin-left: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
}

#aboutMe .text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2.6rem;
  width: 50%;
  justify-content: center;
  text-align: center;
}

#aboutMe .pp {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 50%;
  padding: 0px;
  justify-content: center;
}

.profilePicture {
  width: 350px;
  border: 3px solid var(--black);
  align-self: center;
}

/*           Project Cards */

#myProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--tan);
  margin: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  flex-basis: 100%;
}

#myProjects h2 {
  text-align: center;
  font-size: 2.3rem;
  padding: 7px;
}

#myProjects .restOfCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  column-width: 20%;
  align-self: center;
}

.cardFlex {
  display: flex;
  flex-direction: column;
}

/* first bigger project card styles */
.soloCard {
  align-self: center;
  padding-bottom: 40px;
}

.projectCardFirst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 850px;
  border: 3px solid var(--black);
}

.projectCardImgFirst {
  width: 700px;
}

.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 400px;
  border: 3px solid var(--black);
}

.projectCardImg:hover,
.projectCardImgFirst:hover {
  box-shadow: 10px 10px 10px var(--grey);
}

.projectCardImg {
  max-width: 400px;
  max-height: 200px;
}

/* Media query for one size smaller */
@media (max-width: 950px) {
  .projectCardFirst {
    height: 350px;
    width: 600px;
  }
  .projectCardImgFirst {
    width: 450px;
  }

  #myProjects .restOfCards {
    grid-template-columns: 1fr;
  }

  .profilePicture {
    width: 250px;
  }

  p {
    font-size: 1.8rem;
  }
}

@media (max-width: 700px) {
  .projectCardFirst {
    height: 200px;
    width: 400px;
  }
  .projectCardImgFirst {
    width: 270px;
  }
}

/* Media query for phones */
@media (max-width: 600px) {
  .profilePicture {
    width: 180px;
  }

  p {
    font-size: 1.2rem;
  }
}

figcaption {
  font-size: 22px;
  padding-top: 12px;
  font-weight: bolder;
  text-align: center;
}

/*        Contact Me */
#contactMe {
  background-color: var(--tan);
  padding-bottom: 10px;
  margin: 30px;
}
#contactMe h2 {
  text-align: center;
  font-size: 2.3rem;
  padding: 7px;
}
#contactMe ul {
  font-size: 2rem;
  text-align: center;
  list-style: none;
  line-height: 2;
}

#contactMe ul a {
  text-decoration: none;
}
#contactMe ul .bold {
  font-weight: bold;
}

/* footer style */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--tan);
  height: 40px;
}
